html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #261c33;
}

.dark-mode {
  background-color: #ffffff;
}

.hidden {
  display: none !important;
}

.active {
  color: rgb(247, 4, 0) !important;
}


.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.dashboard {
  background-color: #261c33;   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.dashboard2 {
  background-color: #ffffff;   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.dashboard header {
  text-align: center; 
}

.dashboard header div {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  font-size: 24px;
  color: rgb(43, 33, 131);
  border-radius: 100%;
  cursor: pointer;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  top: 80px;
  right: 10px;
  width: 15%; 
  height: 100%; 
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.modal-content {
  background-color: #f2ecf3; 
  right: 0; 
  top: 0;
  padding: 20px;
  border-radius: 20px;
  height: 100px;
}

.modal-content .btn {
  margin-bottom: 25px; 
}

.modal-content .btn i {
  margin-right: 10px; 
}

.modal-content .btn input {
  vertical-align: middle; 
  margin-left: 5px; 
}

.modal-content .btn.btn-close {
  text-align: center; 
}

.modal-content .btn.btn-close i {
  cursor: pointer; 
}


.dashboard header div :hover{
  color: #b16060;
  
}

.dashboard header h4 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin: 0;
  padding: 10px;

}

.dashboard header h2{
  color: rgb(255, 255, 255);
  font-size: 34px;
  margin: 0;
  padding: 10px;

}

.dashboard .cd {
  margin: 20px 0;
}

.cd .cd-thumb {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url(./img/sontung_mtp.png);
}

.dashboard .control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control .btn {
  margin: 12px;
  padding: 18px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control .btn-toggle-play {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(161, 148, 148, 0.5);
}
/* .control .fa-circle-pause {
  display: none;
} */


.dashboard .progress {
  max-width: 700px;
  width: 46%;
  margin: 20px auto;
}

.playlist {
  background-color: #261c33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
}

.playlist2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 0;
}

.playlist .song {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  background: #fbfbfb;
  border-radius: 10px;
  cursor: pointer;
}

.playlist .song {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  background: #fbfbfb;
  border-radius: 10px;
  cursor: pointer;
}


.song.active-song {
  background-color: #e3d4f8;

}
.song:active{
  opacity: 0.8;
}

.song .thumb {
  height: 90px;
  flex: 1;
  background-color: rgb(235, 218, 237);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.song .body {
  flex: 3;
  text-align: left;
}

.song .option {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}